 /********BASE STYLES*******/

#about, #skills, #work, #contact {
  height: 600px;
  margin: inherit;
}
#attributions {
  height:30px;
}

/*****GRID*****/
.full-width {
    width: 1200px;
    margin: 0 auto;
}

.half-width {
    width: 600px;
    float: left;
}
.two-thirds-width {
  width: 800px;
  float:left;
}
.third-width {
    width: 400px;
    float: left;
}

/************HEADER*************/

header {
  height:900px;
 
}

header::after{
  content:"";
 background: url('../img2/desk.png');
 background-size: auto;
  opacity: 0.7;
  top:0;
  bottom:0;
  left:0;
  right:0;
  position: absolute;
  z-index: -1;
  background-repeat: no-repeat;
  height: 900px;
}

section #skills{
  height: 900px;
  background: url('../img/background.png');
  background-size: auto;
}
 header h1 {
   margin: 0px 0px;
  font-size: 250px;
  font-family: 'Amatic SC', cursive;
  padding: 70px 0px 0px 0px;
  text-align: center;
  font-weight: 900;
}


h2, h3 {
  font-family: 'Sacramento', cursive;
}

h2 {
  font-size: 120px;
  padding: 0px 0px;
  text-align: center;
  font-weight: 500;
  line-height: 10%;
}

h3{
    font-size: 40px;
    padding-top: 50px;
    margin: 0;
    font-weight: 300;
}

h4 {
  font-size: 35px;
  font-family: 'Amatic SC', cursive;
  text-align: center;
  margin: 10px;
}

p {
  font-size: 50px;
  font-family: 'Amatic SC', cursive;
}

nav {
  position:absolute;
  top:0;
  left:10%;
  right:0;
  bottom:0;
  padding: 15px 0px;
 
}

nav ul li {
  display: inline-block;
}

nav ul li a {
  font-size: 40px;
  font-family: 'Sacramento', cursive;
  text-align: center;
  color: black;
  padding-left: 80px;
  font-weight: 500;
  text-decoration: none;
}

/***********ABOUT*******/



/*********SKILLS********/
#skills{
  background: #AAB3B7;
  
}
#skills img {
  padding-top: 90px;
  display: block;
  margin: auto;
}

/*********WORK***********/
  #work{
  background: #FF7575;
}


/*********CONTACT***********/

#contact{
  background: #BCFFF2;
}
  
#email {
    padding-top: 20px;
    color: black;
    text-decoration: none;
    font-size: 30px;
    margin: 20px, none;
  }
  
#contact img {
  border-radius: 50%;
  border: double 20px;
  height: 380px;
  width: auto;
  position: relative;
  left: 35%;
  top: 0px;
}
  
/*********ATTRIBUTIONS***********/

#attributions{
    background: #AAB3B7;
    
}

#attributions p, a {
  font-size: 15px;
  background:none;
  color:black;
  text-decoration: none;
  margin: 0px;
}



